.btn_type_form {
  color: #fff;
  background-color: #a27bff;
  margin-top: 179px;
  cursor: pointer;
}

.btn_type_form:hover {
  border: 2px solid #e1fd2c;
  box-sizing: border-box;
  border-radius: 10px;
}
