.how-it-works__wrapper {
  @include flex-column;
  width: 100%;
  max-width: 1340px;

  @media screen and (max-width: 1150px) {
    margin-top: 120px;
  }
  @media screen and (max-width: 720px) {
    margin-top: 50px;
  }
}
