.card__list {
  @include reset-list;
  @include flex-column;
  justify-content: space-between;
  min-height: 400px;
  width: 255px;

  @media screen and (max-width: 720px) {
    min-height: 295px;
    width: 240px;
    flex-grow: 1;
  }
}
