.natural {
  @include flex-ai-center;
  justify-content: space-between;
  min-height: 510px;
  padding: 0 180px 0 154px;

  @media screen and (max-width: 1150px) {
    padding: 0;
    padding-top: 70px;
    flex-direction: column;
  }
}
