.form__input-box {
  @include flex-column;
  justify-content: space-between;
  width: 310px;
  min-height: 77px;

  @media screen and (max-width: 1150px) {
    width: 100%;

    &:first-child {
      margin-bottom: 12px;
    }
  }

  @media screen and (max-width: 720px) {
    min-height: 63px;
  }
}
