.samples__wrapper {
  @include flex-ai-center;
  justify-content: space-between;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    width: 100%;
    padding: 60px 34px 34px;
    background-color: #cef564;
    box-sizing: border-box;
  }

  @media screen and (max-width: 720px) {
    padding: 20px 10px 10px;
  }
}
