.footer__circle {
  @include flex-all-center;
  background-color: apply-color("main");
  width: 300px;
  height: 300px;
  border-radius: 50%;

  @media screen and (max-width: 1150px) {
    width: 200px;
    height: 200px;
  }
}
