.btn {
  @include reset-btn;
  @include font-settings(500, 18px, 172%, #1e3264);
  background-color: apply-color("elements");
  width: 163px;
  min-height: 55px;
  cursor: pointer;

  &:hover {
    border: 2px solid #1e3264;
    box-sizing: border-box;
    border-radius: 10px;
  }

  @media screen and (max-width: 720px) {
    width: 152px;
    min-height: 51px;
  }
}
