.btn {
  width: 163px;
  height: 55px;
  background-color: #ffdb00;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #1e3264;
}
