.samples {
  @include flex-ai-center;
  justify-content: space-between;
  background-color: apply-color("subsub");
  padding: 60px 50px 60px 150px;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    padding: 60px 34px 34px;
  }
}
