.devider {
  min-height: 76px;
  background-color: #cef564;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #016450;
  white-space: nowrap;
}
