.footer__info {
  @include flex-column;
  justify-content: space-between;
  margin-left: 247px;

  @media screen and (max-width: 1150px) {
    margin-left: 100px;
    min-height: 300px;
  }
  @media screen and (max-width: 720px) {
    margin-left: 0;
    align-items: center;
    margin-top: 50px;
  }
}
